C 0 0 "TS" 0 0 0 0 60 0 L
X "PIN_TEXT" "TS" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "BAT_1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "BAT_1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "BAT_2" 0 -200 0 0 60 0 L
X "PIN_TEXT" "BAT_2" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "CE*" 0 -300 0 0 60 0 L
X "PIN_TEXT" "CE*" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 400 -1000 "EN2" 400 -1000 0 0 60 0 L
X "PIN_TEXT" "EN2" 430 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -800 400 -1000 -1 0
C 500 -1000 "EN1" 500 -1000 0 0 60 0 L
X "PIN_TEXT" "EN1" 530 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -800 500 -1000 -1 0
C 600 -1000 "PGOOD*" 600 -1000 0 0 60 0 L
X "PIN_TEXT" "PGOOD*" 630 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -800 600 -1000 -1 0
C 700 -1000 "VSS" 700 -1000 0 0 60 0 L
X "PIN_TEXT" "VSS" 730 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -800 700 -1000 -1 0
C 1200 0 "ILIM" 1200 0 0 0 60 0 R
X "PIN_TEXT" "ILIM" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "OUT_2" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "OUT_2" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "OUT_1" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "OUT_1" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "CHG*" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "CHG*" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 400 700 "EP" 400 700 0 0 60 0 R
X "PIN_TEXT" "EP" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "ISET" 500 700 0 0 60 0 R
X "PIN_TEXT" "ISET" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "SYSOFF" 600 700 0 0 60 0 R
X "PIN_TEXT" "SYSOFF" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "TMR" 700 700 0 0 60 0 R
X "PIN_TEXT" "TMR" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "IN" 800 700 0 0 60 0 R
X "PIN_TEXT" "IN" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
L 200 500 1000 500 -1 0
L 1000 -800 1000 500 -1 0
L 1000 -800 200 -800 -1 0
L 200 500 200 -800 -1 0
P "$LOCATION" "?" 1050 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

